.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:black !important;
}
.f-links a{
    text-decoration: none;
    color:black;
}
.f-links a:hover{
    text-decoration: underline;
}
.f-links,
.f-social,
.f-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-social i{
font-size: 1.2rem;
margin-left: 1rem;
}
.f{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.listing-card{
   border:none !important;
   margin-bottom: 2rem; 
}
.card-img-top{
    border-radius: 1rem !important;
    width:100%;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color:#fe424d !important;
    border:none !important;
}
.edit-btn{
     background-color:#fe424d !important;
    border:none !important;
}
.btns{
    display:flex;
    justify-content:center;
}
.show-img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius: 20px;
    display: block;
    margin: 0 auto 20px auto;

}

#filters{
    display: flex;
    flex: wrap;
    align-items: center;
}
.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.8;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter p{
    font-size:0.8rem;
}
.tax{
    display: none;
}
.toggle{
    border:1px solid black;
    border-radius: 1rem;
    height:3rem;
    padding: 1rem;
    margin-left:5rem ;
    display: flex;
    align-items: center;
}